[*.{cs,vb}]

# IDE0063: Use simple 'using' statement
dotnet_diagnostic.IDE0063.severity = none

# IDE0130: Namespace does not match folder structure
dotnet_diagnostic.IDE0130.severity = none

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = none

# CA1711: Identifiers should not have incorrect suffix
dotnet_diagnostic.CA1711.severity = none

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none